@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 92%;
    --foreground: 210 20% 0%;

    --card: 210 20% 96%;
    --card-foreground: 210 20% 0%;

    --popover: 210 10% 100%;
    --popover-foreground: 230 25% 0%;

    --primary: 210 55% 50%;
    --primary-foreground: 210 55% 20%;

    --secondary: 300 40% 75%;
    --secondary-foreground: 120 30% 20%;

    --muted: 260 40% 70%;
    --muted-foreground: 30 25% 20%;

    --accent: 330 60% 60%;
    --accent-foreground: 340 30% 20%;

    --info: 210 85% 50%;
    --info-foreground: 210 20% 20%;

    --destructive:0 65% 60%;
    --destructive-foreground: 0 50% 20%;

    --success: 120 55% 50%;
    --success-foreground: 120 40% 20%;

    --warning: 40 100% 50%;
    --warning-foreground: 40 100% 20%;

    --border: 210 20% 70%;
    --input: 210 20% 80%;
    --ring: 210 55% 70%;
/* 
    --border: 210 20% 30%;
    --input: 210 20% 20%;
    --ring: 210 55% 30%; */

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 20% 10%;
    --foreground: 210 20% 95%;

    --card: 210 20% 15%;
    --card-foreground: 210 20% 95%;

    --popover: 210 20% 20%;
    --popover-foreground: 210 20% 95%;

    --primary: 210 55% 50%;
    --primary-foreground: 210 55% 95%;

    --secondary: 300 40% 35%;
    --secondary-foreground: 120 10% 90%;

    --muted: 30 20% 50%;
    --muted-foreground: 30 10% 90%;

    --accent: 330 60% 60%;
    --accent-foreground: 340 10% 90%;

    --info: 210 60% 60%;
    --info-foreground: 210 20% 95%;

    --destructive: 0 45% 45%;
    --destructive-foreground: 0 50% 90%;

    --success: 120 60% 60%;
    --success-foreground: 120 40% 90%;

    --warning: 40 100% 50%;
    --warning-foreground: 40 100% 90%;

    --border: 210 20% 30%;
    --input: 210 20% 20%;
    --ring: 210 55% 30%;
  }
}

@layer base {
	* {
		@apply border-border;
    ::-webkit-scrollbar {display:none;}
	}
	body {
		@apply bg-background text-foreground;
    ::-webkit-scrollbar {display:none;}
	}
}
