@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 10% 75%;
    --foreground: 230 25% 20%;

    --card: 230 12% 80%;
    --card-foreground: 230 25% 20%;

    --popover: 210 10% 100%;
    --popover-foreground: 230 25% 0%;

    --primary: 260 40% 70%;
    --primary-foreground: 260 25% 20%;

    --secondary: 260 20% 85%;
    --secondary-foreground: 120 30% 20%;

    --muted: 260 40% 70%;
    --muted-foreground: 30 25% 20%;

    --accent: 340 30% 60%;
    --accent-foreground: 340 30% 20%;

    --destructive: 0 45% 85%;
    --destructive-foreground: 0 50% 20%;

    --border: 260 40% 70%;
    --input: 210 15% 55%;
    --ring: 230 25% 80%;

    --radius: 0.5rem;

    --neumorphism-sm: 6px 6px 13px #00000020, -6px -6px 13px #ffffff40;
    --neumorphism-md: 10px 10px 20px #00000020, -10px -10px 20px #ffffff40;
    --neumorphism-lg: 15px 15px 30px #00000020, -15px -15px 30px #ffffff40;
  }

  .dark {
    --background: 210 20% 10%;
    --foreground: 210 10% 90%;

    --card: 210 25% 15%;
    --card-foreground: 210 10% 90%;

    --popover: 210 30% 25%;
    --popover-foreground: 210 10% 90%;

    --primary: 260 30% 60%;
    --primary-foreground: 260 10% 90%;

    --secondary: 300 20% 30%;
    --secondary-foreground: 120 10% 90%;

    --muted: 30 20% 50%;
    --muted-foreground: 30 10% 90%;

    --accent: 260 30% 60%;
    --accent-foreground: 340 10% 90%;

    --destructive: 0 45% 45%;
    --destructive-foreground: 0 50% 90%;

    --border: 210 30% 25%;
    --input: 210 25% 20%;
    --ring: 230 25% 50%;

    --neumorphism-sm: 6px 6px 13px #000000E0, -6px -6px 13px #ffffff20;
    --neumorphism-md: 10px 10px 20px #000000E0, -10px -10px 20px #ffffff20;
    --neumorphism-lg: 15px 15px 30px #000000E0, -15px -15px 30px #ffffff20;
  }
}

.transition-width {
  transition: width 300ms ease-in-out;
}

@layer base {
	* {
		@apply border-border;
    ::-webkit-scrollbar {display:none;}
	}
	body {
		@apply bg-background text-foreground;
    ::-webkit-scrollbar {display:none;}
	}
}
